<div class="container">
  <div class="row">
    <app-add-item (addList)="onAddList($event)"></app-add-item>
  </div>
  <div class="row">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th class="col-md-2" scope="row">#</th>
        <th class="col-md-3">Title</th>
        <th class="col-md-5">Description</th>
        <th class="col-md-2">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <th class="col-md-2" scope="row">{{ items.indexOf(item)+1 }}</th>
        <td class="col-md-3">{{ item.title }}</td>
        <td class="col-md-5">{{ item.description }}</td>
        <td class="col-md-2"><button type="button" class="btn btn-danger" (click)="onDelete(item)"><i class="fa fa-trash" aria-hidden="true"></i>
           Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
